<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="answer.component.scss">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="answer" *ngIf="!showForm">
        <div class="answer-group">
            <h2>Entrar a formulario por código</h2>
            <input type="text" id="codigo" name="codigo" required placeholder="Ingrese código"
                style="margin-bottom: 10px;">
            <button type="button" (click)="loadForm()">Iniciar formulario</button>
        </div>
    </div>

    <div class="answer" *ngIf="showForm">
        <div class="answer-group" style="text-align: center;">
            <div id="contenedor-datos"></div>
            <h3>Visualización mapa</h3>
            <app-map></app-map>
            <button type="submit" (click)="sendAnswers()">Enviar</button>
        </div>
    </div>
</body>

</html>
