<!-- form-editor.component.html -->
<div class="form-editor">
  <h2>Editor de Formularios</h2>
  <input [(ngModel)]="form.title" type="text" placeholder="Título del formulario">
  <textarea [(ngModel)]="form.description" placeholder="Descripción del formulario"></textarea>
  
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="questions">
    <h3>Preguntas</h3>
    <app-question-editor  *ngFor="let question of form.questions; let i = index"
                         [question]="question" cdkDrag
                         [isCreating]="true" (deleteQuestion)="removeQuestion(i)"></app-question-editor>
    <button (click)="addQuestion()">Agregar Pregunta</button>
  </div>
  <h3>Visualización mapa</h3>
  <app-map></app-map>
  <button *ngIf="!form.id" (click)="saveForm()">Guardar Formulario</button>
  <button *ngIf="form.id" (click)="saveChanges()">Guardar Cambios</button>
  <button *ngIf="form.id" (click)="deleteForm()">Eliminar Formulario</button>
</div>
